<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ed.haebeop.persistence.BoardMapper">
    <!-- 공지사항 목록 -->
    <select id="boardList" resultType="kr.ed.haebeop.domain.Board">
        select * from board order by regdate desc
    </select>
    <!-- 글 상세보기 -->
    <select id="boardDetail" resultType="kr.ed.haebeop.domain.Board">
        select * from board where bno=#{bno}
    </select>
    <!-- 글 수 카운트 -->
    <select id="totalCount" resultType="java.lang.Integer">
        select count(*) from board
    </select>
    <insert id="boardInsert" parameterType="kr.ed.haebeop.domain.Board">
        insert into board (title, content, author, regdate, visit) values (#{title}, #{content}, #{author}, #{regdate}, #{visit})
    </insert>
    <delete id="boardDelete" parameterType="java.lang.Integer">
        delete from board where bno=#{bno}
    </delete>
    <update id="boardEdit" parameterType="kr.ed.haebeop.domain.Board">
        update board set title=#{title}, content=#{content} where bno=#{bno}
    </update>
    <update id="countUp" parameterType="java.lang.Integer">
        update board set visit=visit+1 where bno=#{bno}
    </update>
</mapper>
