<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ed.haebeop.persistence.FileInfoMapper">
    <select id="getFileInfosByArticleNo" parameterType="int" resultType="kr.ed.haebeop.domain.FileInfo">
        <!-- 특정 게시물 번호에 해당하는 파일 정보를 검색하는 SQL 쿼리 -->
        SELECT no, articleno, saveFolder, originFile, saveFile
        FROM fileInfo
        WHERE articleno = #{articleNo}
    </select>

    <select id="getFileInfoByNo" parameterType="int" resultType="kr.ed.haebeop.domain.FileInfo">
        <!-- 특정 파일 번호에 해당하는 파일 정보를 검색하는 SQL 쿼리 -->
        SELECT no, articleno, saveFolder, originFile, saveFile
        FROM fileInfo
        WHERE no = #{no}
    </select>

    <insert id="insertFileInfo" parameterType="kr.ed.haebeop.domain.FileInfo">
        <!-- FileInfo 객체를 데이터베이스에 삽입하는 SQL 쿼리 -->
        INSERT INTO fileInfo (articleno, saveFolder, originFile, saveFile)
        VALUES (#{articleno}, #{saveFolder}, #{originFile}, #{saveFile})
    </insert>

    <update id="updateFileInfo" parameterType="kr.ed.haebeop.domain.FileInfo">
        <!-- FileInfo 객체를 업데이트하는 SQL 쿼리 -->
        UPDATE fileInfo
        SET saveFolder = #{saveFolder}, originFile = #{originFile}, saveFile = #{saveFile}
        WHERE no = #{no}
    </update>

    <delete id="deleteFileInfo" parameterType="int">
        <!-- 특정 파일 번호에 해당하는 파일 정보를 삭제하는 SQL 쿼리 -->
        DELETE FROM fileInfo
        WHERE no = #{no}
    </delete>
</mapper>