<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ed.haebeop.persistence.FileUploadMapper">
    <insert id="uploadFile" parameterType="kr.ed.haebeop.domain.FileDTO">
        <!-- 파일 정보를 데이터베이스에 저장하는 SQL 쿼리 -->
        INSERT INTO file_table (uuid, uploadpath, filename, filetype, bno)
        VALUES (#{uuid}, #{uploadpath}, #{filename}, #{filetype}, #{bno})
    </insert>

    <select id="getFileByBno" parameterType="int" resultType="kr.ed.haebeop.domain.FileDTO">
        <!-- 특정 게시물 번호에 해당하는 파일 정보를 검색하는 SQL 쿼리 -->
        SELECT uuid, uploadpath, filename, filetype, bno from fileInfo where bno = #{bno}
    </select>

    <delete id="deleteFileByBno" parameterType="int">
        <!-- 특정 게시물 번호에 해당하는 파일 정보를 삭제하는 SQL 쿼리 -->
        DELETE FROM fileInfo WHERE bno = #{bno}
    </delete>

</mapper>